@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron:wght@500&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --agua: #35AD94;
  --sol: #F6AE4A;
  --plata: #81807d;
  --oscuro: #222222;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


body{
  font-family: 'Poppins', sans-serif;
  
}

.flex {
  display: flex;
}

.flex-space {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 85%;
  margin: auto;
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary-btn {
  padding: 10px;
  background-color: var(--agua) ;
  color: #fff ;
  font-weight: 400;
  transition: 0.5s;
}

.primary-btn:hover {
  background-color: var(--sol);
  color: #fff;
}

/* comienzan los estilos del navbar */
.navbar {
  background-color: var(--oscuro);
  position: sticky;
  top: 0;
  z-index: 10;
  height: 10vh;
  line-height: 10vh;
}

.logo img {
  border-radius: 50%;
  height: 3rem;
}

.navbar-logo-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  display: inline-block;
  transition: all 0.5s ease-in;
  margin: 0 30px 0 0;
}

nav ul li a {
  color: white;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
  padding-inline: 1rem;
}

nav ul li a:hover {
  color: var(--agua);
  font-weight: bold;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

nav i {
  color:#fff;
}

/* header */
/* header {
  padding: 40px 0 20px 0;
  background-color: #fff;
} */
header .box {
  margin: 0 0 0 30px;
}

header a {
  font-size: 13px;
  color: var(--plata);
}

header i {
  font-size: 40px;
  color: #35AD94;
  margin-right: 15px;
}

header .text {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .navbar{
    text-align:center;
  }


  .logo img {
    height: 4.5rem;
  }
  nav ul {
    display: block;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  nav ul li {
    display: grid;
  }

  .active {
    background-color: #35AD94;
    left: 0;
    opacity: 1;
    transition: 0.5s;
    z-index: 100;
  }

  nav ul li a {
    font-weight: 400;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times{
    font-size: 2rem;
  }

  /* header */
  header .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header .contact {
    justify-content: center;
    align-items: center;
  }

  header a {
    font-size: 13px;
  }

  header i {
    font-size: 30px;
    margin-right: 5px;
    margin-top: 10px;
  }

  /* FORM */

  button.next,
  button.prev {
    display: none;
  }

  section.slider {
  height: 65vh;
}

  section.slider img {
  height: 65vh;
}

  section.slide-form {
  left: 5%;
  top: 12%;
  width: 90%;
  height: 32rem;
}
}


/* @media screen and (max-width: 1300px) {
  .slide {
    padding-inline: 20rem;
  }
} */

/* HOME */
.slider {
  overflow: hidden;
  position: relative;
  /* height: 200vh; */
}

.slide img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

/* .slide {
  padding-inline: 20rem;
} */

.control-btn .next {
  position: absolute;
  top: 40%;
  z-index: 9;
  right: 5%;
}

.control-btn .prev{
  position: absolute;
  top: 26%;
  z-index: 9;
  left: 5%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

 .activer {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.control-btn button {
  background-color: var(--plata);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.control-btn i {
  background-color: #35AD94;
  width: 45px;
  height: 45px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
}

/* FORMULARIO */
.slide-form h2 {
  margin-top: 30px;
}

.slide-form {
  position: absolute;
  top: 15%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 35%;
  height: 29rem;
  border-radius: 5px;
  color: #fff;
}

.slide-form .flex-space input:nth-child(odd) {
  margin-right: 20px;
}

.slide-form .submit {
  background-color: var(--agua)
}

input {
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
  margin-block: 0.5rem;
}

/* NOSOTROS */

.row {
  width: 50%;
}
.top {
  margin-top: 100px;
}
.mtop {
  margin-top: 50px;
}
.aboutCard {
  padding-inline: 10rem;
  display: flex;
}
.secondary-btn {
  padding: 12px 30px;
  background-color: #31b675;
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
}
.aboutCard h4 {
  color: #31b675;
}
.aboutCard h1 {
  font-size: 35px;
  font-weight: 100;
}
.aboutCard h1 span {
  font-weight: bold;
}
.aboutCard p {
  margin-top: 20px;
  font-weight: 300;
}
.aboutCard .row1 {
  padding-right: 30px;
}
.aboutCard .row.image,
.aboutCard .image {
  position: relative;
}
.aboutCard .control-btn button {
  left: 40%;
}
.aboutCard .control-btn i {
  font-size: 20px;
}
.aboutCard .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 89.5%;
  height: 44vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.aboutCard .image::before {
  content: "";
  position: absolute;
  bottom: 33%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 70%;
  height: 30px;
  border-radius: 5px;
  z-index: -1;
}

.image img{
  width: 29rem;
  height: 17rem;
  object-fit: cover;
}
.aboutCard .control-btn::before {
  content: "";
  position: absolute;
  bottom: 31%;
  left: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 60%;
  height: 30px;
  border-radius: 5px;
  z-index: -1;
}
.features .flex_space {
  flex-direction: row-reverse;
}
.features img {
  width: 90%;
}
.features .control-btn,
.features .image::after,
.features .image::before,
.features .control-btn::before {
  display: none;
}
.features h1 {
  font-weight: bold;
}
.features h1 span {
  color: #31b675;
}
@media screen and (max-width: 768px) {
  .features .flex_space,
  .aboutCard {
    flex-direction: column;
  }
  .aboutCard .image::after,
  .aboutCard .image::before,
  .aboutCard .control-btn::before {
    display: none;
  }
  .aboutCard .row {
    width: 100%;
  }
  .aboutCard .image {
    margin-top: 50px;
  }
  .aboutCard img {
    width: 100%;
  }

  .aboutCard{
    padding-inline: 0;
  }
}

/* FOOTER */
footer {
  background-color: #000;
  color: white;
  margin-top: 50px;
  padding: 50px 0;
}
footer .grid {
  grid-template-columns: repeat(2, 1fr);
}
footer h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}
footer p {
  font-size: 13px;
  opacity: 0.6;
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
}
footer .icon i {
  color: black;
}
footer ul li a {
  opacity: 0.7;
  color: white;
  font-size: 13px;
}
footer ul li {
  margin-bottom: 10px;
}
footer .post li {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(63, 62, 62);
}
footer .post li:nth-last-child(1) {
  border-bottom: none;
}
footer .post label,
footer .post span {
  opacity: 0.5;
  margin-right: 10px;
  font-size: 13px;
  margin-bottom: 20px;
}
footer input {
  background: none;
  border: 1px solid rgb(63, 62, 62);
  border-radius: 5px;
  margin: 10px 0;
}
footer .primary-btn {
  padding: 20px 20px;
  border-radius: 0px;
  text-align: center;
}
.navigation{
  display: flex;
  gap: 1rem;
  width:100%;
}
.legal {
  text-align: center;
  padding: 20px;
  background-color: #000;
  border-top: 1px solid rgb(63, 62, 62);
  color: white;
}
.legal p {
  opacity: 0.5;
}

.icon {
  display: flex;
  gap:1rem;
  margin-top: 2rem;
}

.icon i {
  background: #f5f5f5;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e7e3e3;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.icon i:hover {
  background: var(--agua);
  color: #f5f5f5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media screen and (max-width: 768px) {
  footer .grid {
    grid: unset;
  }
  .box {
    width: 20rem;
  }
  .navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-content {
    width: 100%;
  }
  .side-content {
    width: 100%;
    margin-left: 0px;
  }
}